img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
   }

   body {
    margin: 50px;
   }

   #todays-challenge {
    color: rgb(163, 90, 90);
    font-weight: bold;
    font-size: 52px;
   }
   
   