header {
    margin-bottom: 60px;
}
h1 {
    font-size: 48px;
    color: rgb(0, 0, 0);
    margin: 12px 0;
}
#description {
    margin-bottom: 36px;
}
/*header p {
    margin-bottom: 36px;
}*/
a {
    padding: 12px 48px;
    background-color: rgb(153, 0, 0);
    color: white;
    border: 1px solid brown;
    border-radius: 4px;
    font-size: 23px;

}
a:hover {
    background-color: rgb(200, 123, 202);
    text-decoration: none;
   }

ol {
    list-style: none; 
    width: 599px;
    margin: 36px auto 0 auto;
    padding: 0;
    
}
li {
    padding: 16px;
    margin: 60px;
    background-color: rgb(238, 68, 68);
    border-radius: 6px;
}
h2 {
    color: rgb(7, 6, 6);
    font-family: oswald, sans-serif;
}
main p {
    margin: 12px;
    color: rgb(8, 1, 1);
}
.highlight-goal {
    background-color: rgb(36, 32, 32);
}